.word-connect {
    border-bottom: 1px solid black;
}

.canon-heading {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 40px;
    color:#D32F2F;
    float: left;
}

.canon-heading::first-letter {
    font-size: 60px;
}
    
#top-right-words {
    margin-right: 20PX; 
    font-size: 20px;
    font-family: 'Open Sans Condensed', sans-serif;
    float: right;
}

#image-1 {
    margin-top: 10px;
    margin-left: 10px;
    float: left;
    clear : left;
}

#word-new {
    font-family: 'Open Sans Condensed', sans-serif;
    margin-left: 10px;
    margin-top: 150px;
    float: left;
}

#word-canon {
    color: #D32F2F;
    font-family: 'Anton', sans-serif;
    margin-left: 10px;
    margin-top: 150px;
    float: left;
}

#word-one-lens {
    color:#616161;
    margin-left: 10px;
    float: left;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    margin-left: 20x;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color:#42A5F5;
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
    float: left;         
}

#word-latest {
    clear:left;
    font-family: 'Lexend Tera', sans-serif;
    text-align: center;
    font-size: 30px;
}

.flex-box {
    clear:left;
    display: flex;
    margin: 10px;
}

.flex-box div {
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}

#box1 div {
    flex-direction: row;
    flex-basis: 50%;
}

#image-2 {
    width: 625px;
    height: 400px;
}

#image-3 {
    width: 625px;
    height: 400px;
}

#image-2:hover {
    display: block;
    object-fit : inherit;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

#image-3:hover {
    display: block;
    object-fit : inherit;
    overflow: hidden;
    margin: 0 auto;
    width: 100%;
}

.word-connect {
    clear: left;
    margin-left: 10px;
    margin-right: 10px;
    background: #EEEEEE;
    width : auto;
    height: 400px;
    text-align: center;
    font-size: 20px;
    font-family: 'Lexend Tera', sans-serif;
}

#word-create {
    font-family: 'Lexend Tera', sans-serif;
    font-size: 20px;
    text-align: center;
} 

.background-black {
    background: black;
    width : auto;
    height: 400px;
} 

#image-4 {
    text-align: center;
}

.sign-up-box {
    background: #EEEEEE;
    width : auto;
    height: 400px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
}

#sign-up-box:hover {
    font-size: 50px;
    color: #D32F2F;
}

.word-canon1 {
    color: #D32F2F;
    text-align: left;
    margin-left: 40px;
    margin-right: 40px;
    border-bottom: 1px solid grey;
    font-family: 'Lexend Tera', sans-serif;
}

.flex-box1 {
    display: flex;
    margin: 50px;
    border-bottom: 1px solid grey;
}
  
.flex-box1 div {
    margin-left: 10px;
    flex-basis: 25%;
    font-family: 'Fjalla One', sans-serif;
}

.reference-line1{
    color: #616161;
    margin-left: 50px;
}

.reference-line2 {
    color: #616161;
    margin-left: 100px;
    margin-top: 10px;
}

.reference-line1:hover {
    color: #D32F2F;
    font-size: 30px;
}

.reference-line2:hover {
    color: #D32F2F;
    font-size: 30px;
}

.border-bottom {
    border-bottom: 1px solid grey;
    margin-left: 40px;
    margin-right: 40px;
}

.copyright {
    text-align: right;
    color: #616161;
    margin-right: 40px;
}

.reference-cameras:hover {
    color: red;
    font-size: 30px;
}

.reference-cameras {
    margin-left: 150px;
    margin-top: 10px;
}

.reference-videocameras {
    margin-left: 150px;
    margin-top: 10px;
}

.reference-videocameras:hover {
    color: red;
    font-size: 30px;
}

.reference-lenses {
    margin-left: 150px;
    margin-top: 10px;
}

.reference-lenses:hover {
    color: red;
    font-size: 30px;
}

@media (max-width: 800px) {
    .canon-heading {
        text-align: center;
    }
}

div>nav {
    font-family: 'Josefin Sans', sans-serif;
}

@media (max-width: 800px) {
    #image-1 {
        width: 300px;
    }
}

@media (max-width: 800px) {
    #image-2 {
        width: 250px;
    }
    #image-3 {
        width: 250px;
    }
}

@media (max-width: 800px) {
    #image-4 {
        width: 550px;
    }
}

@media (max-width: 800px) {
    #ref-image1 {
        width: 550px;
    }
}

@media (max-width: 800px) {
    #ref-image2 {
        width: 550px;
    }
}

@media (max-width: 800px) {
    #ref-image3 {
        width: 550px;
    }
}









